//facem import din base
@import "../node_modules/bootstrap/scss/bootstrap-grid.scss";
@import "../node_modules/breakpoint-sass/stylesheets/breakpoint";
@import "base/colors";
@import "base/mixins";
@import "base/reset";
@import "base/typography";
@import "base/variables";
//apoi din layout
@import "layout/grid";
@import "layout/section";
//apoi din vendor
//apoi din components
@import "components/background-box";
@import "components/blocks";
@import "components/button";

@import "components/fonts";
@import "components/ratio-box";
@import "components/responsive-box";
@import "components/transform";
@import "components/gradient-box";




// apoi ceva
$header-height: 95px;
$sidebar-width: 231px;
.header {
    height: $header-height;
    background-color: yellow;
}

.sidebar {
    position: fixed;
    top: $header-height;
    height: calc(100vh - #{$header-height});
    width: $sidebar-width;
    background-color: green;
}

.main {
    position: fixed;
    top: $header-height;
    left: $sidebar-width;
    height: calc(100vh - #{$header-height});
    width: calc(100vw - #{$sidebar-width});
    background-color: pink;
}

.main-iframe {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}
